@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/pagination";
@import "swiper/css/navigation";

:root {
  --font-base: var(--font-ttcommons), var(--font-poppins), sans-serif;
}

body {
  font-family: var(--font-base);
}
.scrollbar-none::-webkit-scrollbar {
  display: none;
}
.scrollbar-none {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.custom-swiper .swiper-pagination-bullet-active {
  background-color: #030712; /* Tailwind 'blue-700' */
}
